<?xml version="1.0"?>
<model>
  <name>coffee</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Alejandro Gomez</name>
    <email>A01736171@tec.mx</email>
  </author>
  <description>A coffee with holder model for reconstruction in 3D environment</description>
</model>
